# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# Environment Variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db